
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.docker/data/db/#innodb_temp/*.ibt
###< symfony/framework-bundle ###
