<div class="page-header pb-2 mt-4 mb-2 border-bottom row">
    <div class="logo col-3 col-lg-4 col-md-5">
        <img src="/assets/img/Bender_400x400.png" alt="Bender Corporation logo" />
    </div>
    <div class="header-title col-9 col-lg-8 col-md-7">
        Bender Corporation
    </div>
</div>