{% extends 'base.html.twig' %}

{% block main %}
<div class="index-main text-center">
    <img src="/assets/img/pegatina-cara-bender-futurama.png" />
    <h1>Your lucky number is {{ number }}</h1>
</div>
{% endblock %}