<nav>
    <ul>
        <li>
            <div class="menu_parent">
                <a href="">Pedidos</a>
            </div>
            <div class="menu_children">
                <ul>
                    <li>
                        <a href="">Listado</a>
                    </li>
                    <li>
                        <a href="">Nuevo pedido</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="menu_parent">
                <a href="">Clientes</a>
            </div>
            <div class="menu_children">
                <ul>
                    <li>
                        <a href="">Listado</a>
                    </li>
                    <li>
                        <a href="">Nuevo cliente</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="menu_parent">
                <a href="">Productos</a>
            </div>
            <div class="menu_children">
                <ul>
                    <li>
                        <a href="">Listado</a>
                    </li>
                    <li>
                        <a href="">Nuevo producto</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>