body {
    background-color: white;
}

.bg-light-bender-ligth{ background-color: #bed9e0!important; }

.page-header{
    img{
        max-width: 20%;
    }
    .header-title{
        font-size: 5em;
    }
}
