{% extends 'base.html.twig' %}

{% block main %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="title">{{ title }}</div>
    {{ form(form) }}

{% endblock %}